/* * {
    background-color: #0a0f26;
    color: #c7b002;
    
} */

/* entire document */

body {
    background-color: #0a0f26;
    color: #a67a00;
    font-family: 'Times New Roman', Times, serif;
}

@font-face{
    font-family:DSfont;
    src: url(OptimusPrincepsSemiBold.ttf)
}
/* header */
header {
    margin: 0px auto;
    width: 95vw;
    background-color: #0a0f26;
    border: .2vw ridge #a67a00;
    font-family: DSfont;

}

header > img {
    width: 150px;
    margin-left: 10px;
    margin-top : 10px;
    float: left;
}

h1 {
    text-align: center;
    padding: .1vw;
    margin: .5vw;
    font-size: 5vw;
}

header > nav {
    background-color: #a67a00
    
}

a {
    font-size: 1.5vw;
    color: #a67a00
}
header > nav > ul > li {
    display: inline-block;
    width: 14vw;
    border: .2vw solid #000000;
    text-align: center;
    border-radius: 25px;
    padding: .1vw;
    background-color: #0a0f26;
    margin-right: 2vw;
    margin-top: .2vw;
    margin-bottom: .2vw;
    

} 



/* main */

h3 {
    text-align: center;
}
h4 #clock {

    font-size: 1.5vw;
    display: block;
    padding: 5px 0px;
    text-align: center;
    }
main {
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows: 19vw 19vw auto ;
    align-items: end;
    align-content:end;
    margin-top: 30px;
    
}
#main{
    background-color: #000000;
    border: .5vw ridge #a67a00;
    width: 31vw;
    height: 60vw;
    font-size: 1.5vw;
    grid-row-start: 1;
    grid-row-end:4;
    
}

#main > img {
    width: 29vw;
    border: .3vw solid #660d07;
    margin: .8vw;
   
}

.side {
    align-self: start;
    background-color: #000000;
    width: 60vw;
    font-size: 1.5vw;
    border: 10px ridge #a67a00;
    height: 16vw;
}

.side > img {
    width: 20vw;
    border: .5vw solid #660d07;
    float: left;
    margin: 20px;
    
}
#s1 {
    grid-column:3;
    grid-row: 1;
  
}

#s2 {
    grid-column:3;
    grid-row: 2;
 
}

#s3 {
    grid-column:3;
    grid-row: 3;
}



/*footer */

footer { margin: 0px auto;
    width: 95vw;
    background-color: #000000;
    border: .2vw solid #a67a00;
    font-family: DSfont;
}
footer > nav {
    background-color: #a67a00
}

footer > nav > ul > li {
    display: inline-block;
    width: 20vw;
    border: .1vw solid #000000;
    text-align: center;
    border-radius: 25px;
    padding: .1vw;
    background-color: #0a0f26;
    margin-right: 10vw;
    margin-top: .3vw;
    margin-bottom: .3vw;
    font-family: DSfont;
}

#tag {
    font-style: italic;
    font-family:DSfont;
    font-size: 1.5vs;
}